body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.image-container {
  max-width: 590px; 
  width: 100%;
  margin: auto; 
}

.image-container img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-top:20px;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  text-align: center;
  border:3px solid #3e362e;
  background-color: #865b36;
  margin-top: 20px;
  margin-bottom: 20px;
}

.container label {
  display: block;
  margin-bottom: 10px;
}

.container input,.container textarea{
  width: 80%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.container button {
  background-color: #3e362e;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  margin-left: 20px;
  transition: background-color 0.3s ease; 
  margin-bottom: 10px;
}

.container button:hover {
  background-color: #8d8dcc; 
}

.navbar {
  background-color: #3e362e;
  font-family: 'TRoboto', sans-serif;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  margin-right: 20px;
}

.navbar p {
  text-decoration: none;
  color: #ffffff;
  font-size: 13px;
  margin: 0; 
  line-height: 2; 
}

.navbar a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
}

.navbar a:hover {
  color: #333; 
}


.navbar-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px; 
  background-color: #ac8968;
}

.container th, .container td {
  padding: 5px;
  border: 1px solid #ffffff;
  color:#000000;
}

.container th {
  background-color: #3e362e;
  color: white;
}
tbody a {
  color:#000000;
}

footer {
  background-color: #3e362e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: white;
  margin-top: 20px;
  position: fixed; bottom: 0;
}

footer p {
  margin: 0; 
  text-align: center;
  flex-grow: 1; 
  font-family: 'Roboto', sans-serif;
}

.footer-link {
  font-family: 'Roboto', sans-serif;
  padding-right: 10px;
}

.menu-toggle {
  font-size: 20px;
  cursor: pointer;
  margin-right: 20px;
  display: none; 
}

@media (max-width: 768px) {
  .navbar-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 600px; 
    left: 0;
    width: 100%;
    padding: 10px;
  }

  .navbar-links li {
    margin-bottom: 10px;
  }

  .menu-toggle {
    display: block;
  }

  .navbar {
    flex-direction: column;
  }

  .navbar ul.navbar-links {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #3e362e;
    width: 100%;
    padding: 10px;
  }

  .navbar ul.navbar-links li {
    margin-bottom: 10px;
  }
}